@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');
@font-face {
  font-family: 'Dick';
  font-style: italic;
  src: url('./assets/fonts/DR-Pecker.otf') format('truetype');
}
@font-face {
  font-family: 'Semi';
  font-style: italic;
  src: url('./assets/fonts/Semi.otf') format('truetype');
}

@import './components/Header/styles.scss';


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes translateX {
  0% {
    opacity: 0;
    transform: translateX(60px);
  }
  
  80% {
    transform: translateX(-5px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.dick{
  height: calc(100vh - 80px);
  font-family: 'Edu VIC WA NT Beginner', cursive;

  &-title{
    font-family: 'Dick';
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 20px;
  }
  &-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  &-form{
    border-radius: 4px;
    padding: 1rem;
    max-width: 600px;
    width: 100%;
    background: linear-gradient(45deg, #FC466B, #ff65b7);
    position: relative;
    padding-top: 30px;
    padding-bottom: 100px;
    font-size: 20px;
    &-item{
      max-width: 300px;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: auto;
      & label{
        display: block;
        text-align: left;
        margin-bottom: 5px;
        color: #ffffff;
        font-weight: 600;
      }
      & input{
        margin-bottom: 5px;
        height: 28px;
        border: none;
        border-radius: 5px;
        padding-left: 12px;
        border-radius: 5000px;
        backdrop-filter: blur(5px);
        box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
        transition: all 0.2s ease-in-out;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
        &:hover {
          // background: rgba(255,255,255,0.1);
          box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
          outline: none;
        }
        &:focus {
          // background: rgba(255,255,255,0.1);
          outline: none;
          box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
        }
      }
    }
  }
  &-time{
    color: white;
    margin: 10px;
    font-size: 1rem;
    &>p{
      font-weight: 600;
    }
  }
  &-start{
    position: relative;
    &>p{
      color: white;
      font-size: 1.2rem;
    }
  }
  &-son{
    opacity: 0;
    &.fire{
      animation: fire 2s ease-in-out ;
      position: absolute;
      top: 50%;
      @keyframes fire {
        from{
          opacity: 1;
        }
        to{
          opacity: 0;
          transform: translate(30px,-30px);
        }
      }
    }
  }
  &-img{
    transform: rotate(90deg);
    &.animation{
      animation: dickScale 1s ease-in-out infinite alternate forwards;
    }
    @keyframes dickScale {
      from{
        transform: rotate(90deg) scale(0.9);
      }
      to{
        transform: rotate(90deg) scale(1.2);
      }
    }
  }
  &-button{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Edu VIC WA NT Beginner', cursive;
    outline: none;
    margin-top: 10px;
    // width: 200px;
    font-size: 24px;
    font-weight: 900;
    background-color: transparent;
    color: white;
    border:1px solid white;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all .2s;
    &:hover{
      font-size: 2rem;
    }
    &.disabled{
      background-color: grey;
      &:hover{
        font-size: 1rem;
      }
    }
  }
}

//onboard css style
.section.svelte-101xq62{
  background-color: black !important;
}
.background.svelte-101xq62{
  background-color: black !important;
}
.fixed{
  background-color: black !important;
}

//qr code scanner
.qr-container{
  width: 200px;
  height: 200px;
}