.onboard {
  & button {
    display: block;
    border: 1px solid rgb(119, 139, 255);
    margin-bottom: 10px;
    background: none;
    padding: 10px 14px;
    border-radius: 20px;
    cursor: pointer;
  }
}